.imageBox{
    width: 50vw;
    height: 60vh;
    position: relative;
}

.bigBJ{
    width: 550px;
    position: absolute;
    top:  0;
    left:  0;
}
.smallBJ{
    width: 170px;
    position: absolute; 
    bottom: 50%;
    right: 15%;
}